p{
    font-size: 18px;
    line-height: 32px;
}

h1,h2,h3,h4{
    margin-bottom: 20px;
    padding-bottom: 0;
}

h1{
    font-size: 72px;
}

.section-title h2, h2{
    font-size: 48px ;
    color: $primary-dark;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 18px;
}

.header{
    padding-bottom: 1rem;
    color:$default;
    text-decoration: none;
    &--light{
        color:#fff;
    }

    &--text-upper{
        text-transform: uppercase;
    }

    &--super{
        font-size: 40px;
        line-height: 56px;
    }

    &--main{
        font-size: 52px;
    }

    &--secondary{
        font-size: 48px;
    }

    &--third{
        font-size: 36px;
    }

    &--fourth{
        font-size: 24px;
    }
    &--fifth{
        font-size: 18px;
    }

    &--divider{
        position: relative;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 2px;
            background: $primary;
            bottom: 0;
            left: calc(50% - 25px);
        }
    }

    &--linked{
        a {
            color: $default;
            transition: 0.3s;
            &:hover {
              color: $primary;
            }
        }
    }
}

.fontw-100{
    font-weight: 100;
}
.fontw-200{
    font-weight: 200;
}
.fontw-300{
    font-weight: 300;
}
.fontw-400{
    font-weight: 400;
}
.fontw-500{
    font-weight: 500;
}
.fontw-600{
    font-weight: 600;
}
.fontw-700{
    font-weight: 700;
}
.fontw-800{
    font-weight: 800;
}