.carousel{
  width: 100%;
  height: calc(95vh - 114px);
  padding: 0;
  overflow: hidden;

  .carousel-item {
    width: 100%;
    height: calc(95vh - 114px);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  .carousel-item::before {
    content: '';
    background-color: rgba($black, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .carousel-content {
    text-align: left;
    margin: 0 auto;
    @include for-tablet-portrait-up{
      width: 90%;
      height: 50%;
    }
  }

  @media (max-width: 992px) {
    &, .carousel-item { 
      height: calc(100vh - 70px);
    }
  }

  p {
    @include for-tablet-portrait-up{
      width: 80%;
    }
    animation-delay: 0.4s;
    color: #fff;
    font-size:1.4rem;
  }
  
  .carousel-inner {
    .carousel-item {
      -webkit-transition-property: opacity;
      transition-property: opacity;
      background-position: center top;
    }

    .carousel-item,
    .active.carousel-item-left,
    .active.carousel-item-right {
      opacity: 0;
    }

    .active,
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      opacity: 1;
      transition: 0.5s;
    }

    .carousel-item-next,
    .carousel-item-prev,
    .active.carousel-item-left,
    .active.carousel-item-right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control-prev, .carousel-control-next {
    @include for-phone-only{
      display:none;
    }
    width: 10%;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
  }

  .carousel-indicators li {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .carousel-indicators .active {
    opacity: 1;
    background-color: $primary;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 28px;
    }
  }

  @media (min-width: 1024px) {
    p {
      width: 60%;
    }
    .carousel-control-prev, .carousel-control-next {
      width: 5%;
    }
  }
}
