// ************************************
// *         DEFAULT STYLE            *
// ************************************

.axforms--default_wrapper{
  margin-top:0 !important;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px;
  max-width: 85% !important;
  margin: 0 auto;
}

.axforms.axforms--default{
  .gform_title{
    display:none;
  }

  input, textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px !important;
    &::focus {
      background-color: $primary;
    }
  }

  .ginput_container input {
    padding: 20px 15px !important;
  }

  input{
    border-radius: 0 !important;
    display: block;
    margin-top:0;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 12px 15px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  textarea{
    padding: 12px 15px;
    border: 1px solid #ced4da;
  }

  textarea.textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  .gform_footer{
    text-align: center;
  }

  input.gform_button.button{
    background: $primary;
    border: 0;
    font-size: 18px !important;
    padding: 7px 24px !important;
    color: #fff;
    transition: 0.4s;
    &:hover {
      background: lighten($primary, 10%);
    }
  }

  ul li.gfield {
    margin-top: 0 !important;
    padding-top: 0;
  }
}

// ************************************
// *         TWO COL STYLE            *
// ************************************

.axforms--twocol_wrapper{
  width: 100%;
  border-top: 3px solid $primary;;
  border-bottom: 3px solid $primary;;
  padding: 30px;
  // background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0 , 0, .12);
  margin:0 !important;
}

.axforms.axforms--twocol{
  background:transparent;
  box-shadow: none;

  .ginput_container {
    padding-bottom: 8px;
  }

  .gform_title{
    display:none;
  }

  input, textarea {
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px !important;
    &:focus {
      border-color: $primary;
    }
  }

  input {
    height: 44px;
  }

  textarea {
    padding: 10px 12px;
  }

  button[type="submit"] {
    background: $primary;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    &:hover {
      background: darken($primary, 10);
    }
  }
}

.php-email-form {
  width: 100%;
  border-top: 3px solid $primary;;
  border-bottom: 3px solid $primary;;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0 , 0, .12);

  .form-group {
    padding-bottom: 8px;
  }

  .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
    & br + br {
      margin-top: 25px;
    }
  }
  
  .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;

    &:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #18d26e;
      border-top-color: #eee;
      animation: animate-loading 1s linear infinite;
    }
  }

  input, textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
    &:focus {
      border-color: $primary;
    }
  }

  input {
    height: 44px;
  }

  textarea {
    padding: 10px 12px;
  }

  button[type="submit"] {
    background: $primary;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    &:hover {
      background: darken($primary, 10);
    }
  }
}