.hero{
  width: 100%;
  position: relative;

  &__content{
    text-align: center;
    color: #fff;
  }

  &--underline{
    font-weight: bold;
    letter-spacing: .1rem;
    position: relative;
    padding:1rem 0;
    margin-top:0;
  }

  &--clip{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  }

  &--underline::before{
    background-color: $primary;
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    height: 3px;
    width: 3em;
    transform: translate(-50%,-0rem);
  }

  p{
    font-weight: 100;
    color: #363638;
    font-style: normal;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 1rem 0;
    max-width: 48rem;
    line-height: 35px;
    font-weight: 500;
    font-size: 1.3rem;
  }

  &__content{
    max-width: 75%;
    margin:0 auto;
    @include for-desktop-up{
      max-width: 100%;
    }
  }

  &__image{
    text-align: center;
    img{
      width:80%;
      @include for-tablet-portrait-up{
        width: 60%;
      }
      @include for-laptop-up{
        width: 80%;
      }
      @include for-desktop-up{
        width: 100%;
      }
    }
  }
}

/*--------------------------------------------------------------
# Plain
--------------------------------------------------------------*/

.hero.hero--plain{
  padding: 4rem 2rem 0 2rem;
  margin:0 auto;
  // max-width: 48rem;
  text-align: center;
}

/*--------------------------------------------------------------
# Hero BG
--------------------------------------------------------------*/
.hero.hero--bg{
  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
}

/*--------------------------------------------------------------
# Hero Two Columns
--------------------------------------------------------------*/

.hero.hero--two-col{
  .header--main{

  }
  height: auto;
  padding-bottom: 20rem;
    @include for-desktop-up{
      padding-top: 20rem;
      height: 80vh;
    }
    .hero__content{
      text-align: left;
    }
    .hero__button-wrapper{
      margin-bottom: 2.5rem;
      @include for-desktop-up{
        margin-bottom: 2.5rem;
        text-align: left;
      }
    }
}