/*--------------------------------------------------------------
# About Lists
--------------------------------------------------------------*/
.about-lists {
    padding: 40px;
    .row {
      overflow: hidden;
    }
    .content-item {
      padding: 40px !important;
      border-left: 1px solid lighten($primary, 38);
      border-bottom: 1px solid lighten($primary, 38);
      margin: -1px;
      span {
        display: block;
        font-size: 24px;
        font-weight: 400;
        color: $primary-light;
      }
      h3 {
        margin: 20px 0;
      }
      p {
        color: lighten($default, 40);
        margin: 0;
        padding: 0;
      }
    }
    @media (max-width: 768px) {
      .content-item {
        padding: 40px 0;
      }
    }
  }