section .container, header .container{
    
    @include for-tablet-portrait-up {
        max-width: 1165px;
    }
    @include for-desktop-up {
        max-width: 1340px;
    }
}

section .container{
    overflow: hidden;
}