/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color:$gray !important;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  p{
    max-width: 65%;
    margin: 0 auto;
  }
}